<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Max's Craft Website</title>
        <link rel="stylesheet" href="../public/css/main.css" type="text/css" media="all" />
    </head>
    <body>
        <div class="backdrop"></div>
        <header class="main-header">
            <button id="side-menu-toggle">Menu</button>
            <nav class="main-header__nav">
                <ul class="main-header__item-list">
                    <li class="main-header__item">
                        <a href="#">Home</a>
                    </li>
                    <li class="main-header__item">
                        <a href="#">Crafts</a>
                    </li>
                    <li class="main-header__item">
                        <a href="#">Calendar</a>
                    </li>
                    <li class="main-header__item">
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </nav>
        </header>
        
        <nav class="mobile-nav">
            <ul class="mobile-nav__item-list">
                <li class="mobile-nav__item">
                    <a href="#">Home</a>
                </li>
                <li class="mobile-nav__item">
                    <a href="#">Crafts</a>
                </li>
                <li class="mobile-nav__item">
                    <a href="#">Calendar</a>
                </li>
                <li class="mobile-nav__item">
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>
        <main>
            <section class="gallery__container">
                <ul class="gallery-item__list">
                    <li class="gallery-item">
                        <img src=""></img>
                    </li>
                </ul>
            </section>            
            <section class="">
                THIS IS WHERE THE COMMUNITY WILL GO
            </section>
        </main>
        <footer class="">
            THIS IS THE FOOTER
        </footer>
        <script src="../public/js/main.js"></script>
    </body>
</html>