<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Max's Craft Website</title>
        <script src="https://kit.fontawesome.com/ac1ed33404.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../public/css/main.css" type="text/css" media="all" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Play&family=Poppins:wght@500&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <div class="backdrop"></div>
        <!--Non-mobile Nav-->
        <header class="main-header">
            <button id="side-menu-toggle">Menu</button>
            <nav class="main-header__nav">
                <ul class="main-header__item-list">
                    <li class="main-header__item">
                        <a href="#home">Home</a>
                    </li>
                    <li class="main-header__item">
                        <a href="#gallery">Crafts</a>
                    </li>
                    <li class="main-header__item">
                        <a href="#calendar">Calendar</a>
                    </li>
                    <li class="main-header__item">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </nav>
        </header>
        <!--Mobile Nav-->
        <nav class="mobile-nav">
            <ul class="mobile-nav__item-list">
                <li class="mobile-nav__item">
                    <a href="#home">Home</a>
                </li>
                <li class="mobile-nav__item">
                    <a href="#gallery">Crafts</a>
                </li>
                <li class="mobile-nav__item">
                    <a href="#calendar">Calendar</a>
                </li>
                <li class="mobile-nav__item">
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </nav>
        <main>
            
            <!--Home nav hook-->
            <div class="home__location" id="home"></div>
            
            <!--Banner Introduction-->
            <section class="banner centered">
                <h1 class="banner__title">Max's Blossom Boutique</h1>
                <img class="banner__img" src="https://github.com/Tasups/images/blob/main/MAX%20Main.jpg?raw=true" alt="banner" />
                
                <!--Who am I article-->
                <article class="banner__description">
                    <h2 class="banner__description-title">What I do / Who I am</h2>
                    <h3>My name is Max and I love to work with glass to make lawns and other landscapes a wonder to behold</h3>
                </article>
                
            </section>
            
            <!--Item Gallery-->
            <section class="gallery__container" id="gallery">
                <h1 class="gallery__container-title">GALLERY</h1>
                <ul class="gallery-item__list">
                    <li class="gallery-item">
                        <h2>Blue Glass</h2>
                        <img src="https://github.com/Tasups/images/blob/main/MAX%20Blue%20Glass.jpg?raw=true" alt="blue glass flower plate"></img>
                    </li>
                    <li class="gallery-item">
                        <h2>Floral China</h2>
                        <img src="https://github.com/Tasups/images/blob/main/MAX%20China.jpg?raw=true" alt="floral china plate"></img>
                    </li>
                    <li class="gallery-item">
                        <h2>Cornflower China</h2>
                        <img src="https://github.com/Tasups/images/blob/main/MAX%20Flower.jpg?raw=true" alt="cornflower china plate"></img>
                    </li>
                </ul>
            </section>  
            
            <!--Calendar-->
            <section class="calendar__container centered" id="calendar">
                <h1 class="calendar__container-title">CALENDAR</h1>
                <hr />
                <ul class="calendar__list">
                    <li class="calendar__list-item">
                        <h2>January 10th, 2023</h2>
                        <h2>LEAF Festival - Black Mountain, NC</h2>
                    </li>
                </ul>
                <ul class="calendar__list">
                    <li class="calendar__list-item">
                        <h2>January 10th, 2023</h2>
                        <h2>LEAF Festival - Black Mountain, NC</h2>
                    </li>
                </ul>
                <ul class="calendar__list">
                    <li class="calendar__list-item">
                        <h2>January 10th, 2023</h2>
                        <h2>LEAF Festival - Black Mountain, NC</h2>
                    </li>
                </ul>
            </section>
            
        </main>
        
        <footer class="footer centered" id="contact">
            <i class="fa-brands fa-facebook"></i>
            <section class="footer__contact-icons">
                THIS IS WHERE THE ICONS GO
                <!--fontawesome icon not working-->
                <i class="fa-brands fa-facebook"></i>
            </section>
            <section class="footer__publisher">
                &copy2023 Jason Whisnant
            </section>
        </footer>
        
        <script src="../public/js/main.js"></script>
    </body>
</html>